<footer  class="bg-black text-white">
    <div class="footer-line"></div>
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">
                    StopTheWheelProductions
                </h5>
                <p>
                    You may call the speech, “Lindbergh’s 9/11.” In the speech Lindbergh accused three groups of leading America to war, FDR, the English and, against the advice of his wife, Anne, he named  the Jews for pushing America to enter the Second World War.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">links</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                        <a href="#!" style="color: #ffffff;">Frequently Asked Questions</a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" style="color: #ffffff;">Delivery</a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" style="color: #ffffff;">Pricing</a>
                    </li>
                    <li>
                        <a href="#!" style="color: #ffffff;">Where we deliver?</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">links</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                        <a href="#!" style="color: #ffffff;">Frequently Asked Questions</a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" style="color: #ffffff;">Delivery</a>
                    </li>
                    <li class="mb-1">
                        <a href="#!" style="color: #ffffff;">Pricing</a>
                    </li>
                    <li>
                        <a href="#!" style="color: #ffffff;">Where we deliver?</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="#!">Democracy&Dissent.com</a>
    </div>
    <!-- Copyright -->
</footer>