<div class="container text-center section-space">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             class="col-lg-4 col-md-12 mb-4">
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/PTgOiy_xxRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="300"
             class="col-lg-4 col-md-6 mb-4">
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/Jqu53qtTGig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="500"
             class="col-lg-4 col-md-6 mb-4">

            <iframe width="100%" height="250" src="https://www.youtube.com/embed/u-6v2BgeWgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             class="col-lg-4 col-md-12 mb-4">
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/PTgOiy_xxRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="300"
             class="col-lg-4 col-md-6 mb-4">
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/Jqu53qtTGig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="500"
             class="col-lg-4 col-md-6 mb-4">

            <iframe width="100%" height="250" src="https://www.youtube.com/embed/u-6v2BgeWgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>