<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>
<%- include('layouts/navbar') -%>
<body class="bg">

<header>
    <div class="container" style="margin-top: 90px;">
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation="fade-in-down"
             class="row text-center">
            <h1 class="display-4">
                STOP THE WHEEL PRODUCTIONS
            </h1>
        </div>
    </div>
</header>


    <div class="container" style="margin-top: 50px; margin-bottom: 70px;">
        <div class="row">
            <div class="col-md m-3">
                <img src="img/Frank_picture2.png" class="img-fluid"
                     alt="frank" />
                <br><br>
                <h2>FRANK BATTAGLIA - Producer</h2>
                <h5>
                    Story and Script Consultant, Post Production Supervisor, Field Producer
                </h5>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                    Read Biography
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Frank's Biography</h5>
                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="lead">

                                    Producer, Post-Production Supervisor.  Ongoing relationship with two Academy Award nominated producers, Carlos Gonzalez and Peter Spirer since 1997.
                                    Story, Script Consultant, post production supervisor, Field Producer for Academy Award-nominated filmmaker Peter Spirer's Aslan Productions from 1997 to present.
                                    Owned and operated Prime Cut Productions (PCP), an International Production company, with his two partners, Jan Kaplan and Ed Flaherty, from 1996 until it was sold in 2009. PCP had offices in Los Angeles and Paris producing television programming for major television networks including, among others, CNN, HBO, CBS, E! Television, Miramax, History Channel, Showtime and the BBC. PCP was a permanent fixture at the Cannes Film Festival for 20+ years.
                                    <br><br>
                                    2000 to 2011: Story and Script Consultant, for Academy Award-nominated filmmaker Carlos Gonzalez.
                                    Filmography: From Russia to Hollywood, Thug Angel, The Story of Tupac Shakur.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md m-3">
                <img src="img/misterener.png" class="img-fluid"
                     alt="misterener" />
                <br> <br>
                <h2>Charles - Producer</h2>
                <h5>
                    AKA Misterener, relocated to Toronto from Brazil  in 2017. Enerson, has been producing videos for TV and streaming for 10+ years. He is an accomplished cinematographer, film-video editor & web designer.
                </h5>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
                    Read Biography
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Charles' Biography</h5>
                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="lead">

                                    Enerson and Brazilian filmmaker, Felipe Lemoura, are developing a feature film, "The Pyramid," schedule to start production winter of 2020.
                                    In 2019, Enerson, wrote, directed and edited a short film, "Breaking News" a that won the Best Edited Film of the Seneca Arts Festival.
                                    Click for more: www.misterener.ca
                                    IN PRODUCTION:
                                    CHARLES LINDBERGH: Democracy and Dissent - War & Propaganda.
                                    The Pyramid - A feature film made in partnership with the Brazilian filmmaker Felipe Lemoura. production scheduled for winter of 2020.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('layouts/footer') -%>
</body>
<%- include('layouts/scripts') -%>
</html>
