<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg">

<!--Navbar-->
<%- include('layouts/navbar') -%>
<!-- Navbar -->

<div class="container p-5">
    <!-- Material form contact -->
    <div class="card">
        <h1 class="h1 fw-bolder text-center mt-3">Create A New Blog</h1>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="/posts/store" method="post" enctype="multipart/form-data">

                <!-- Name -->
                <div class="md-form mt-3">
                    <input type="text" name="title" id="materialContactFormName" class="form-control">
                    <label for="materialContactFormName">Title</label>
                </div>

                <!-- E-mail -->
                <div class="md-form mt-3">
                    <input type="email" name="email" id="materialContactFormEmail" class="form-control">
                    <label for="materialContactFormEmail">Author E-mail</label>
                </div>

                <!--image-->
                <div class="md-form mt-3">
                    <input type="file" name="image" id="image" class="form-control" accept="image/*">
                </div>

                <!--Message-->
                <div class="md-form mt-3 mb-3">
                    <textarea id="materialContactFormMessage" name="message" class="form-control md-textarea" rows="3"></textarea>
                    <label for="materialContactFormMessage">Message</label>
                </div>

                <!-- Send button -->
                <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

            </form>
            <!-- Form -->

        </div>

    </div>
    <!-- Material form contact -->
</div>

<!-- Footer -->
<%- include('layouts/footer') -%>
<!-- Footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
