<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>
<%- include('layouts/navbar') -%>
<body class="bg">

<div class="container text-white" style="margin-top: 90px; margin-bottom: 90px;">
    <h1 data-mdb-toggle="animation"
        data-mdb-animation-start="onLoad"
        data-mdb-animation="fade-in-down"
        class="display-1 text-center">
        Films & Articles
    </h1>

    <div class="row mt-5">
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in-left"
             data-mdb-animation-delay="200"
             class="col-md p-2">
            <img src="img/films-intro-img.png" class="img-fluid rounded" alt="img" />
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in-right"
             data-mdb-animation-delay="300"
             class="col-md p-2">
            <p class="lead">
                General Douglas MacArthur warned Americans that "Talk of imminent threats to our national security through the application of external force is pure nonsense. Our threat is from the insidious forces working from within which have already so drastically altered the character of our free institutions — those institutions we proudly called the American way of life." Speech to the Michigan legislature, in Lansing, Michigan (15 May 1952), published in General MacArthur Speeches and Reports 1908-1964 (2000) by Edward T. Imparato, p. 206
            </p>
        </div>
    </div>
</div>

<div class="container text-white" style="margin-bottom: 70px;">
    <div class="row mt-5">
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in"
             class="col-md p-2">
            <iframe width="100%" height="290" src="https://www.youtube.com/embed/PTgOiy_xxRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="200"
             class="col-md p-2">
            <hr>
            <h4>
                “Extreme propaganda inevitably accompanies ALL major wars.”
            </h4>
            <hr>
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="300"
             class="col-md p-2">
            <iframe width="100%" height="290" src="https://www.youtube.com/embed/Jqu53qtTGig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row mt-5">
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in"
             class="col-md p-2">
            <iframe width="100%" height="290" src="https://www.youtube.com/embed/u-6v2BgeWgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="200"
             class="col-md p-2">
            <img src="img/film-content-img.png" class="img-fluid max" alt="img" style="width: 100%; max-height: 290px;" />
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="300"
             class="col-md p-2">
            <iframe width="100%" height="290" src="https://www.youtube.com/embed/9wxplj5uw-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>
</body>
<%- include('layouts/scripts') -%>
</html>