<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>
<%- include('layouts/navbar') -%>
<body>

<header>
    <div class="container mt-5">
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation="fade-in-down"
                class="row text-center">
            <h1 class="display-4">
                THE REAL PLOT AGAINST AMERICA
            </h1>
        </div>
    </div>
</header>

<main style="margin-top: 50px;">
    <div class="container">

        <p class="lead">
            <span data-mdb-toggle="animation"
                  data-mdb-animation-start="onLoad"
                  data-mdb-animation="fade-in-left"
                  data-mdb-animation-delay="300">
            On <b>September 11th</b>, 1941 <i>Charles Lindbergh</i> delivered an anti-war speech in Des Moines Iowa, that launched a vicious propaganda smear  campaign targeting Lindbergh as being an unpatriotic American and worse an anti-Semite. What did Lindbergh do incur the wrath of the media and the government?
            </span>
            <br><br>
            <span data-mdb-toggle="animation"
                  data-mdb-animation-start="onLoad"
                  data-mdb-animation="fade-in-right"
                  data-mdb-animation-delay="500">
            Lindbergh had the audacity to name the three groups that were urging America to enter world War Two. The speech would change his life forever. The three groups Charles named were the British, President Roosevelt and, against his wife Anne’s warnings, he named the third group being, the Jews. His naming the Jews released a firestorm of vitriol hat painted Lindbergh as a Nazi loving, anti-Semitic fifth-columnist.
            </span>
            <br><br>
            <img src="/img/introPlot.png" class="img-fluid h-50 rounded-circle shadow-4-strong" alt="plot" />
            <br><br>
            <span data-mdb-toggle="animation"
                  data-mdb-animation-start="onScroll"
                  data-mdb-animation="fade-in"
                  data-mdb-animation-delay="500">
            HBO has released a mini-series, “The Plot Against America,” the Philip Roth novel whose premise is that Charles Lindbergh is elected president in 1940. What follows "after that demonstrates Roth’s pathetic ethnic paranoia as well as his ethnic bigotry. “The most significant thing about Roth’s book is the fact that it’s fiction, a Jewish fantasy, if you will.” Why? It is more propaganda leveled at a Patriotic American who stood for Peace and Diplomacy over war. Crazy huh? “Plot,” shamefully distorts and further impugns the character of one of America’s truly great patriots.
            </span>
            <br><br>
            Our film, Lindbergh’s 9/11 explains the, “Why?”
            <br><br>
            <h1 data-mdb-toggle="animation"
                data-mdb-animation-start="onScroll"
                data-mdb-animation="fade-in"
                data-mdb-animation-delay="300"
                class="display-6 text-center fw-light">
                “No person with a sense of dignity of mankind can condone the persecution of the Jewish race in Germany.”
                <br><br>
                ”Does this sound like the raving of an anti-Semite?”
            </h1>
            <p class="text-center">
                <small >— CHARLES LINDBERGH SEPTEMBER 11TH, 1941, DES MOINES</small>
            </p>

            <br><br>
            <span class="text-center justify-content-center align-content-center d-flex mx-auto" style="max-width: 80%; margin-right: auto; margin-left: auto;">
                <iframe width="90%" height="380" src="https://www.youtube.com/embed/VnOUu-RdiH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
            <br><br>
            Lindbergh’s biographer, A. Scot Berg, makes the point in his Pulitzer Prize winning biography, that "...millions of people will now be exposed to [this] distorted version of Lindbergh’s life and believe much of it.”
            <br><br>
            Berg's demonstrate that Lindbergh, like millions of others of his generation, "was guilty of the garden-variety anti-Semitism that prevailed in his day—but Lindbergh did not hate Jews..." far, far from it.
            <br><br>
            The Plot against America is a Jewish fantasy, which is interesting first of all for what it tells us about Roth personally but also because of what it tells us about the ethnic group which has accepted his paranoid Jewish fantasy as something to be taken seriously by people other than psychiatrists and cultural pathologists.“
        </p>
    </div>
</main>

<div class="container section-space">

</div>

<%- include('layouts/footer') -%>
</body>
<%- include('layouts/scripts') -%>
</html>
