<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg">

<!--Navbar-->
<%- include('layouts/navbar') -%>
<!-- Navbar -->

<div class="container mt-5 text-center mb-5">
    <!-- Default form login -->
    <form class="text-center p-2" method="post" action="/users/login">

        <h1 class="h1 mb-4">Sign in</h1>

        <!-- Email -->
        <input type="text" required id="username" name="username" class="form-control mb-4" placeholder="Username">

        <!-- Password -->
        <input type="password" required id="password" name="password" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">

            <div>
                <!-- Forgot password -->
                <a href="mailto:codedev1980@gmail.com">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

        <!-- Register -->
        <p>Not a member?
            <a href="/auth/register">Register</a>
        </p>

    </form>
    <!-- Default form login -->
</div>

<!--Main Layout-->

<!-- Footer -->
<%- include('layouts/footer') -%>
<!-- Footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
