
body {
    background: rgb(108,107,120);
    background: linear-gradient(90deg, rgba(108,107,120,1) 0%, rgba(161,161,176,1) 46%, rgba(48,104,177,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

.intro-bg {
    background: url(../img/filmMaker.png)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 170px;
}

.journal-bg {
    background: url(https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}